/*This CSS files deals with the stying of the main opening web-page. */

body{
	width: 100%;
	height: 100%;
}

.content{

}

/*File uplaoding states*/
/*HIDDEN*/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
