/*This CSS files deals with the stying of the main opening web-page. */

body {
	width: 100%;
	height: 100%;
	font-size: 13px;
	line-height: 20px;
	background: #FFFFFF;
	text-align: enter;
}

.content{
	margin-top: 5%;
	text-align: center;
}

.Shared-Color-Lavender {
	color: #9575CD;
}

.Shared-Color-LightBlue {
	color: #039BE5;
}

.Shared-Color-Amber {
	color: #FFB300;
}

.Shared-Color-LightRed {
	color: #E57373;
}

.Shared-Color-Green {
	color: #66BB6A;
}

.Shared-Color-BlueGrey {
	color: #78909C;
}